<script>
  import { goto } from '@sveltech/routify'
  import { debounce } from 'lodash-es'
  import Button from '../../components/Button.svelte'
  import TextInput from '../../components/TextInput.svelte'
  import { firebase } from '../../services/firebase'
  import { userStore } from '../../stores/user'
  import Transition from '../../components/Transition.svelte'

  let mailValue = ''
  let passwordValue = ''
  let repeatedPasswordValue = ''
  let mailValueLogin = ''
  let passwordValueLogin = ''
  let currentLoginForm = 'register'
  let buttonKind = 'button'

  let passwordWarningVisible = false

  let signUpError = false
  let signUpErrorMessage = ''

  let signInError = false
  let signInErrorMessage = ''

  let mailInput
  let passwordInput
  let passwordRepeatInput

  const passwordPattern = '(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}'

  async function handleSubmit() {
    if (mailValue && passwordValue === repeatedPasswordValue) {
      try {
        buttonKind = 'loading'
        await firebase
          .auth()
          .createUserWithEmailAndPassword(mailValue, passwordValue)
        buttonKind = 'button'
      } catch (error) {
        buttonKind = 'button'
        if (error.code === 'auth/email-already-in-use') {
          signUpError = true
          signUpErrorMessage = 'Пользователь с такой почтой уже есть'
        }
      }
    }
  }

  function clearValidity() {
    passwordWarningVisible = false
  }

  function handleSignInSubmit() {
    buttonKind = 'loading'
    firebase
      .auth()
      .signInWithEmailAndPassword(mailValueLogin.trim(), passwordValueLogin)
      .then(() => {
        buttonKind = 'button'
      })
      .catch((error) => {
        buttonKind = 'button'
        signInError = true
        if (error.code === 'auth/user-not-found') {
          signInErrorMessage = 'Пользователь с такой почтой не найден'
        } else if (error.code === 'auth/wrong-password') {
          signInErrorMessage = 'Не верный пароль'
        }
      })
  }

  function switchToSignUpForm() {
    clearValidity()
    currentLoginForm = 'register'
  }
  function switchToSignInForm() {
    clearValidity()
    currentLoginForm = 'login'
  }

  function validate({ target }) {
    const warning = document.querySelector(`label[for="${target.id}"] + span`)
    if (!target.validity.valid) {
      if (target.name === 'password') {
        passwordWarningVisible = true
      }
      if (passwordValue !== repeatedPasswordValue) {
        return
      }
      target.classList.add('error')
      if (warning) {
        warning.classList.remove('hidden')
      }
    } else {
      if (target.name === 'password') {
        passwordWarningVisible = false
      }
      target.classList.remove('error')
      if (warning) {
        warning.classList.add('hidden')
      }
    }
  }

  function handleInvalid(e) {
    e.preventDefault() // do not show validity message

    validate(e)
  }

  function handleGuestLogin() {
    userStore.setUser({ GUEST: true })
    userStore.toggleChanged()
    $goto('todos')
  }
</script>

<style>

</style>

<Transition>
  <div
    class="mx-auto max-w-screen-sm container w-full text-light px-4 mt-4
    lg:mt-12">
    {#if currentLoginForm === 'register'}
      <h1 class="text-4xl font-bold mr-5 leading-none mb-5">Регистрация</h1>
      <div data-testid="signup-warning" class="h-20">
        {#if passwordWarningVisible}
          <div class="text-accent text-lg">
            пароль должен содержать не менее 8 символов, иметь хотя бы одну
            заглавную букву и одну цифру
          </div>
        {:else if signUpError}
          <div class="text-error">{signUpErrorMessage}</div>
        {:else}
          <div class="text-lg">
            Для того чтобы сохранить прогресс: зарегистрируйтесь
          </div>
        {/if}
      </div>
      <form class="mb-8" on:submit|preventDefault={handleSubmit}>
        <div class="flex flex-col mb-4">
          <div class="flex justify-between items-center">
            <label class="uppercase mb-2" for="login-mail">почта</label>
            <span class="hidden text-error">это не имеил</span>
          </div>
          <TextInput
            bind:ref={mailInput}
            type="email"
            required
            name="mail"
            on:input={debounce(validate, 800)}
            on:invalid={handleInvalid}
            bind:value={mailValue}
            id="login-mail" />
        </div>
        <div class="flex flex-col mb-4">
          <div class="flex items-center justify-between">
            <label class="uppercase mb-2" for="login-password">пароль</label>
            <span class="hidden text-error">не валиден</span>
          </div>
          <TextInput
            bind:ref={passwordInput}
            bind:value={passwordValue}
            on:invalid={handleInvalid}
            on:input={debounce(validate, 800)}
            pattern={passwordPattern}
            name="password"
            required
            type="password"
            id="login-password" />
        </div>
        <div class="flex flex-col">
          <div class="flex items-center justify-between">
            <label class="uppercase mb-2" for="login-repeated-password">
              повторите пароль
            </label>
            <span class="hidden text-error">пароли не совпадают</span>
          </div>
          <TextInput
            bind:value={repeatedPasswordValue}
            bind:ref={passwordRepeatInput}
            on:invalid={handleInvalid}
            on:input={debounce(validate, 800)}
            pattern={passwordPattern}
            name="repeated-password"
            required
            type="password"
            id="login-repeated-password" />
        </div>
        <div class="text-center mt-8">
          <Button kind={buttonKind} className="w-full" type="submit">
            Создать аккаунт
          </Button>
        </div>
      </form>
      <div class="text-center">
        <button on:click={switchToSignInForm} class="block w-full mb-4">
          Или
          <span class="underline">войти</span>
        </button>
      </div>
    {:else if currentLoginForm === 'login'}
      <h1 class="text-4xl font-bold mr-5 leading-none mb-5">Вход</h1>
      <div class="h-20">
        {#if passwordWarningVisible}
          <div class="text-accent text-lg">
            пароль должен содержать не менее 8 символов, иметь хотя бы одну
            заглавную букву и одну цифру
          </div>
        {:else if signInError}
          <div class="text-error text-lg">{signInErrorMessage}</div>
        {:else}
          <div class="text-lg">Для того чтобы сохранить прогресс: войдите</div>
        {/if}
      </div>
      <form class="mb-8" on:submit|preventDefault={handleSignInSubmit}>
        <div class="flex flex-col mb-4">
          <div class="flex justify-between items-center">
            <label class="uppercase mb-2" for="login-mail">почта</label>
            <span class="hidden text-error">это не имеил</span>
          </div>
          <TextInput
            type="email"
            required
            on:invalid={handleInvalid}
            bind:ref={mailInput}
            bind:value={mailValueLogin}
            on:input={debounce(validate, 800)}
            id="login-mail" />
        </div>
        <div class="flex flex-col">
          <div class="flex items-center justify-between">
            <label class="uppercase mb-2" for="login-password">пароль</label>
            <span class="hidden text-error">не валиден</span>
          </div>
          <TextInput
            bind:value={passwordValueLogin}
            bind:ref={passwordInput}
            on:input={debounce(validate, 800)}
            on:invalid={handleInvalid}
            pattern={passwordPattern}
            required
            type="password"
            id="login-password" />
        </div>
        <div class="text-center mt-8">
          <Button kind={buttonKind} className="w-full" type="submit">
            Войти
          </Button>
        </div>
      </form>
      <div class="text-center">
        <button on:click={switchToSignUpForm} class="mb-4">
          Или
          <span class="underline">Зарегистрироваться</span>
        </button>
      </div>
    {/if}
    <div class="text-center">
      <button on:click={handleGuestLogin} class="underline">
        Не хочу регистрироваться
      </button>
    </div>
  </div>
</Transition>
