<script>
  import Button from '../../components/Button.svelte'
  import Transition from '../../components/Transition.svelte'
</script>

<style>
  .mt {
    margin-top: 20vh;
  }
</style>

<Transition>
  <div
    class="mt mx-auto container w-full text-light text-center">
    <h2 class="text-3xl mx-auto mb-4">Добро пожаловать</h2>
    <div class="mb-12 text-lg">Это список дел для очень ленивых</div>
    <Button to="tutorial" kind="link" size="lg">Начать</Button>
  </div>
</Transition>
