<script>
  export let component;
  export let bg;
  export let width;
  export let props = null;
</script>

<style>
  div {
    padding:10px;
    max-width: 600px;
  }
  .bg-main {
    background-color: var(--main-color);
  }
  .bg-secondary {
    background-color: var(--secondary-color);
  }
  .bg-accent {
    background-color: var(--accent-color);
  }
  .bg-extra {
    background-color: var(--extra-color);
  }
</style>

<div style="width: {width}px" class="bg-{bg}">
  <svelte:component {...props} this={component} />
</div>
