<script>
  import { goto } from '@sveltech/routify'
  import { add } from 'date-fns'
  import { userStore } from '../../stores/user'
  import { checkEndOfSprint } from '../../services/database'
  import { firebase } from '../../services/firebase'
  import { todosStore } from '../../stores/todos'
  import { sprintStore } from '../../stores/sprint'
  import Button from '../../components/Button.svelte'
  import FoldableList from '../../components/FoldableList.svelte'
  import Transition from '../../components/Transition.svelte'

  if (!checkEndOfSprint($sprintStore.end)) {
    $goto('todos')
  }

  let buttonKind = 'button'

  function calculateMaxTodos(todosDone, maxTodos, capacity) {
    if (todosDone === 0) {
      return 1
    }
    if (maxTodos > capacity) {
      if (capacity - todosDone === 0) {
        return capacity + 1
      }
      return todosDone
    }
    if (maxTodos - todosDone > 0) {
      return todosDone
    }
    return maxTodos
  }

  async function startNewWeek() {
    buttonKind = 'loading'
    const nextSprint = parseInt($userStore.data.currentSprint, 10) + 1

    const doc = await firebase
      .firestore()
      .collection('users')
      .doc(
        `${$userStore.user.email}/sprints/${nextSprint}`
      )

    const startDate = new Date()
    const endDate = add(startDate, { days: $userStore.data.sprintDistance })

    await doc.set({
      start: firebase.firestore.Timestamp.fromDate(startDate),
      end: firebase.firestore.Timestamp.fromDate(endDate),
      task: {
        capacity: calculateMaxTodos(
          $sprintStore.task.doneCount,
          $userStore.data.maxTodos,
          $sprintStore.task.capacity
        ),
        doneCount: 0,
      },
      activity: {
        capacity: calculateMaxTodos(
          $sprintStore.activity.doneCount,
          $userStore.data.maxTodos,
          $sprintStore.activity.capacity
        ),
        doneCount: 0,
      },
    })

    await firebase
      .firestore()
      .collection('users')
      .doc(`${$userStore.user.email}`)
      .update({ currentSprint: nextSprint})

    $userStore.data.currentSprint = nextSprint

    todosStore.removeTodos()
    await sprintStore.setSprint()
    $goto('todos')
    buttonKind = 'button'
  }
</script>

<Transition>
<div
  class="w-full mx-auto container text-light p-4 mt-4 lg:mt-12">
  <h1 class="text-4xl font-bold mr-5 leading-none mb-5">Результаты недели</h1>
  <div class="flex flex-col lg:flex-row">
    <div class="flex-1 mr-0 lg:mr-4">
      <FoldableList list={$todosStore.activitylist}>
        <span>Выполненные активности:</span>
        <span>{$sprintStore.activity.doneCount}</span>
      </FoldableList>
    </div>
    <div class="mt-10 lg:mt-0 flex-1">
      <FoldableList list={$todosStore.tasklist}>
        <span>Выполненные задачи:</span>
        <span>{$sprintStore.task.doneCount}</span>
      </FoldableList>
    </div>
  </div>
  <Button kind={buttonKind} on:click={() => startNewWeek()} className="mt-6 w-full">
    Начать новую неделю
  </Button>
</div>
</Transition>
