<script>
  import { onDestroy } from 'svelte'
  import { goto } from '@sveltech/routify'
  import { firebase } from '../../services/firebase'
  import { userStore } from '../../stores/user'
  import { todosStore } from '../../stores/todos'
  import { sprintStore } from '../../stores/sprint'
  import { checkEndOfSprint } from '../../services/database'
  import CAF from 'caf'
  import Button from '../../components/Button.svelte'
  import TextInput from '../../components/TextInput.svelte'
  import Warning from '../../components/Warning.svelte'
  import Transition from '../../components/Transition.svelte'

  if (!$userStore.user) {
    $goto('/')
  }

  if ($userStore.user && $sprintStore.end) {
    const end = checkEndOfSprint($sprintStore.end)
    if (end) {
      $goto('results')
    }
  }

  let changed = false
  let showMessage = false

  let { sprintDistance, maxTodos } = $userStore.data

  let sprintDistanceInput
  let maxTodosInput

  let inputInvalid = false

  function handleLogout() {
    firebase
      .auth()
      .signOut()
      .then(() => {
        // Sign-out successful.
        userStore.removeUser()
        todosStore.removeTodos()
        $goto('/')
      })
      .catch((error) => {
        // An error happened.
        console.log('error', error)
      })
  }

  let discardTimeout;
  async function confirmSettingsChange() {
    showMessage = true
    changed = false

    discardTimeout = new CAF.cancelToken()

    CAF.delay(discardTimeout.signal, 3500).then(
      () => {
        showMessage = false
        userStore.changeUserSettings({
          mail: $userStore.user.email,
          sprintDistance: parseInt(sprintDistance, 10),
          maxTodos: parseInt(maxTodos, 10),
        })
        discardTimeout = null
      },
      () => {
        showMessage = false
        changed = true
        discardTimeout = null
      }
    )
  }

  function cancelSettingsChange() {
    discardTimeout.abort()
  }

  function validateInput() {
    if (
      maxTodosInput.validity.rangeUnderflow ||
      sprintDistanceInput.validity.rangeUnderflow ||
      maxTodosInput.validity.rangeOverflow ||
      sprintDistanceInput.validity.rangeOverflow
    ) {
      inputInvalid = true
    } else {
      inputInvalid = false
    }
  }

  onDestroy( () => {
    if (discardTimeout) {
      discardTimeout.abort()
      userStore.changeUserSettings({
        mail: $userStore.user.email,
        sprintDistance: parseInt(sprintDistance, 10),
        maxTodos: parseInt(maxTodos, 10),
      })
    }
  })

  $: if ($userStore.data) {
    if (
      $userStore.data.sprintDistance !== parseInt(sprintDistance, 10) ||
      $userStore.data.maxTodos !== parseInt(maxTodos, 10)
    ) {
      changed = true
    } else {
      changed = false
    }
  }

</script>

<style>

</style>

<Transition>
  <div
    class="w-full max-w-screen-md mx-auto container text-light px-4 mt-4
    lg:mt-12">
    <h1 class="text-4xl font-bold mr-5 leading-none mb-5">Профиль</h1>
    <div class="text-lg font-bold mb-5">
      {$userStore.user ? $userStore.user.email : 'нет имейла'}
    </div>
    {#if inputInvalid}
      <div class="text-accent mb-2">
        числа должны быть больше 1 и меньше 100
      </div>
    {/if}
    <form class="mb-8" on:submit|preventDefault={confirmSettingsChange}>
      <div class="mb-4 flex items-center">
        <label class="mr-4 w-3/4" for="profile-sprint-distance">
          изменить протяженность следующего спринта
        </label>
        <TextInput
          className="w-1/4"
          id="profile-sprint-distance"
          type="number"
          min="1"
          max="100"
          bind:ref={sprintDistanceInput}
          on:input={validateInput}
          bind:value={sprintDistance} />
      </div>
      <div class="flex items-center">
        <label class="mr-4 w-3/4" for="profile-max-todos">
          изменить количество задач
        </label>
        <TextInput
          className="w-1/4"
          id="profile-max-todos"
          min="1"
          max="100"
          type="number"
          bind:ref={maxTodosInput}
          on:input={validateInput}
          bind:value={maxTodos} />
      </div>
      {#if changed}
        <Button kind="button-accent" className="w-full mt-8" type="submit">
          Подтвердить изменения
        </Button>
      {/if}
    </form>
    <Button className="w-full" on:click={handleLogout}>Выйти из профиля</Button>
  </div>
</Transition>

{#if showMessage}
  <Warning on:cancel={cancelSettingsChange} text="вы изменили настройки" />
{/if}
