:root {
  --main-color: hsl(0,0%,13%);
  --text-color: hsl(0,0%,94%);
  --secondary-color: hsl(0,0%,86%);
  --dark-color: hsl(0, 0%, 0%);
  --dark-color-a10: hsla(0, 0%, 0%, 0.1);
  --dark-color-a20: hsla(0, 0%, 0%, 0.2);
  --dark-color-a80: hsla(0, 0%, 0%, 0.8);
  --text-color-a10 : hsla(0,0%,94%, 0.1);
  --text-color-a60 : hsla(0,0%,94%, 0.6);
  --text-color-a90 : hsla(0,0%,94%, 0.9);
  --secondary-color-a10: hsla(0,0%,86%, 0.1);
  --secondary-color-a20: hsla(0,0%,86%, 0.2);
  --secondary-color-a60: hsla(0,0%,86%, 0.6);
  --secondary-color-a90: hsla(0,0%,86%, 0.9);
  --outline-color: hsl(48,87%,56%);
  --accent-color: hsl(54,100%,49%);
  --accent-color-a90: hsla(54,100%,49%, 0.9);
  --error-color: hsl(355,77%,56%);
  --error-color-a70: hsla(355,77%,56%, 0.7);
  --extra-color: hsl(167,98%,38%);
  --extra-color-a70: hsl(167,98%,38%, 0.7);
}
html, body {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

