<script>
  import Button from '../components/Button.svelte'
</script>

<style>
  .wrapper {
    margin-top: 20vh;
  }
</style>

<div class="wrapper px-4">
  <h1 class="text-center text-3xl text-light mb-2">404</h1>
  <div class="text-light text-center mb-4">Такой страницы нет :(</div>
  <div class="text-center">
    <Button className="w-full justify-center" kind="link" to="/">Домой</Button>
  </div>
</div>
