<script>
  import { onMount } from 'svelte'
  import { goto } from '@sveltech/routify'
  import Header from '../components/Header.svelte'
  import { userStore } from '../stores/user'
  import { firebase } from '../services/firebase'
  import { sprintStore } from '../stores/sprint'

  let startUpFlag = false

  const guardedPaths = ['/todos', '/results', '/profile']

  async function getUserData(user) {
    if (user) {
      await userStore.setUser(user)

      await sprintStore.setSprint()

      $goto('todos')
      startUpFlag = true
    } else {
      userStore.removeUser()
      if (
        guardedPaths.find((item) => item === window.location.pathname) ||
        window.location.pathname === '/'
      ) {
        $goto('hello')
        startUpFlag = true
        return
      }
      startUpFlag = true
    }
  }

  onMount(() => {
    /* if (window.location.hostname === 'localhost') { */
    /*   const firestoreSettings = { */
    /*     host: 'localhost:8080', */
    /*     ssl: false, */
    /*   } */
    /*   if (window.Cypress) { */
    /*     firestoreSettings.experimentalForceLongPolling = true */
    /*   } */
    /*   firebase.firestore().settings(firestoreSettings) */
    /* } */
    firebase.auth().onAuthStateChanged(async (user) => {
      await getUserData(user)
    })
  })
</script>

<style>
  .loading-wrapper {
    height: calc(100vh - 4.5rem - 2px);
  }
  .loading {
    animation: 1s linear 0s infinite alternate text-anim;
  }
  @keyframes text-anim {
    from {
      transform: scale(1.08);
    }
    to {
      transform: scale(1);
    }
  }
</style>

<div class="bg-main text-secondary h-full min-h-screen">
  <Header />
  {#if startUpFlag}
    <slot />
  {:else}
    <div class="loading-wrapper w-full flex items-center justify-center h-full">
      <span class="text-xl text-accent loading">
        Firebase слишком долго грузится
      </span>
    </div>
  {/if}
</div>
