<script>
  import Button from '../../components/Button.svelte'
  import Transition from '../../components/Transition.svelte'
  import { tween, styler } from 'popmotion'
  import clamp from 'lodash/clamp'

  import Stage1 from '../../components/tutorial/Stage1.svelte'
  import Stage2 from '../../components/tutorial/Stage2.svelte'
  import Stage3 from '../../components/tutorial/Stage3.svelte'
  import Stage4 from '../../components/tutorial/Stage4.svelte'

  let transition = 0
  let sliderRef;

  const stages = [
    { text: 'Coздайте свой список дел.', comp: Stage1 },
    {
      text:
        'Moжно создать только 3 задачи и 3 активности за спринт. (это можно поменять)',
      comp: Stage2,
    },
    {
      text:
        'Отмечайте проделанные задачи и получайте удовлетворение от проделанной работы.',
      comp: Stage3,
    },
    {
      text:
        'Eсли вы не смогли выполнить все задачи, то на следующем спринте вам будет доступно столько задач сколько вы выполните за текущий.',
      comp: Stage4,
    },
  ]

  function handleNextStage() {
    if (currentStage < stages.length - 1) {
      const currentTutorialItem = document.querySelector(
        `.c-tutorial-item[data-index="${currentStage}"]`
      )
      if (window.innerWidth > 1024) {
        transition -= 72
        const styledCurrentTutorialItem = styler(currentTutorialItem)
        tween({
          targets: currentTutorialItem,
          from: {width: '90%'},
          to: { width: '70%' },
          duration: 600,
        }).start(styledCurrentTutorialItem.set)
      } else {
        transition -= 92
      }
      currentStage += 1
    }
  }

  function handlePrevStage() {
    if (currentStage > 0) {
      currentStage -= 1
      const currentTutorialItem = document.querySelector(
        `.c-tutorial-item[data-index="${currentStage}"]`
      )
      if (window.innerWidth > 1024) {
        transition += 72
        const styledCurrentTutorialItem = styler(currentTutorialItem)
        tween({
          targets: currentTutorialItem,
          from: {width: '70%'},
          to: { width: '90%' },
          duration: 600,
        }).start(styledCurrentTutorialItem.set)
      } else {
        transition += 92
      }
    }
  }

  let currentStage = 0
</script>

<style lang="postcss">
  .c-tutorial-slider {
    transition: transform 1.2s ease;
    will-change: transform;
  }
  .c-tutorial-item {
    flex: 1 0 auto;
    width: 90%;
    max-height: 600px;
  }
  .c-tutorial-item__text {
    @apply text-main mb-4 ml-8 relative;
  }
  @media (min-width: 1024) {
    .c-tutorial-item__text {
      @apply text-base;
    }
  }
  .c-tutorial-item__text:before {
    content: attr(data-index);
    font-weight: 700;
    font-size: 4.5rem;
    font-family: monospace;
    margin-right: 1rem;
    position: absolute;
    top: -4rem;
    left: -3rem;
    color: var(--text-color-a60);
  }
  .c-tutorial-container {
    max-width: 800px;
    @apply overflow-hidden pt-8 mx-auto;
  }
  @media(min-width: 768px) {
    .c-tutorial-container {
      @apply pt-6;
    }
  }
  .c-tutorial-component {
    padding-top: 90%;
    max-height: 550px;
    @apply relative;
  }
  @media (min-width: 768px) {
    .c-tutorial-component {
      padding-top: 70%;
    }
  }
  .c-tutorial-component__wrapper {
    top: 50%;
    left: 50%;
    width: 90%;
    transform:  translate(-50%, -50%);
    @apply absolute h-auto;
  }
  .c-skeleton {
    max-height: 200px;
    top: 50%;
    transform: translateY(-50%);
    @apply bg-secondary-a60 w-5/6 h-full m-auto relative;
  }
  .c-skeleton:before {
    @apply bg-secondary-a90 w-0 h-full top-0 left-0 absolute;
    animation-name: skeleton;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    content: '';
  }
  @keyframes skeleton {
    0% {
      right: auto;
      left: 0;
      width: 0%;
      opacity: 0.3;
    }
    20% {
      right: auto;
      left: 0;
      width: 100%;
      opacity: 1;
    }
    28% {
      right: 0;
      left: auto;
      width: 100%;
    }
    51% {
      right: 0;
      left: auto;
      width: 0%;
    }
    58% {
      right: 0;
      left: auto;
      width: 0%;
    }
    82% {
      right: 0;
      left: auto;
      width: 100%;
    }
    83% {
      right: auto;
      left: 0;
      width: 100%;
    }
    96% {
      right: auto;
      left: 0;
      width: 0%;
    }
    100% {
      right: auto;
      left: 0;
      width: 0%;
      opacity: 0.3;
    }
  }
</style>

<Transition>
  <div class="container mx-auto w-full text-light px-2 md:px-4 mt-4 pb-12 lg:mt-12">
    <div class=" flex justify-between items-end mb-8 md:mb-12">
      <h1 class="text-4xl font-bold mr-5 leading-none">Обучение</h1>
      {#if currentStage < 3}
        <a href="/login" class="underline text-secondary">Пропустить</a>
      {/if}
    </div>
    <div class="c-tutorial-container">
      <div class="block h-full slider-wrapper">
        <div
          bind:this={sliderRef}
          style="transform: translateX({transition}%)"
          class="c-tutorial-slider h-full inset-0 relative flex">
          {#each stages as stage, i (stage)}
            <div
              data-index={i}
              class="c-tutorial-item flex flex-col mr-4 py-4 px-2 md:px-6 bg-secondary
              rounded-lg">
              <div data-index={i + 1} class="c-tutorial-item__text">
                {stage.text}
              </div>
              <div
                class="c-tutorial-component flex-1 bg-main rounded-lg p-4">
                {#if i === currentStage}
                  <div class="c-tutorial-component__wrapper">
                    <svelte:component this={stage.comp} />
                  </div>
                {:else}
                  <div class="c-tutorial-component__wrapper">
                    <div class="c-skeleton" />
                  </div>
                {/if}
              </div>
            </div>
          {/each}
        </div>
      </div>
    </div>
    <div class="text-center lg:mt-10 mt-5">
      {#if currentStage > 0}
        <Button
          className="m-2"
          kind="button"
          to="/login"
          on:click={handlePrevStage}
          size="md">
          Назад
        </Button>
      {/if}
      <Button
        className="m-2"
        kind={currentStage < stages.length - 1 ? 'button' : 'link'}
        to="/login"
        on:click={handleNextStage}
        size="md">
        {currentStage === stages.length - 1 ? 'Продолжить' : 'Дальше'}
      </Button>
    </div>
  </div>
</Transition>
