<script>
  import { createEventDispatcher } from 'svelte'
  import Timer from '../Timer.svelte'
  import { STATE, TIMER_STATE } from '../../constants'
  import { timerMachineStore } from '../../stores/machine.js'

  import CreateIcon from '../icons/createIcon.svelte'
  import StopIcon from '../icons/stopIcon.svelte'
  import PlayArrowIcon from '../icons/playArrowIcon.svelte'
  import DeleteIcon from '../icons/deleteIcon.svelte'
  import CheckIcon from '../icons/checkIcon.svelte'

  export let state
  export let todo
  export let initialTimerValues
  export let timerValues
  export let sets
  export let titleElement = null
  export let textElement = null
  export let isTutorial = false

  const dispatch = createEventDispatcher()

  let timerService

  function handleDone() {
    dispatch('done')
  }

  function handleStart() {
    console.log('timer handleStart begin')
    if (!timerService) {
      timerService = $timerMachineStore.timerServices[todo.id]
    }
    console.log('timer handle start', $timerMachineStore, timerService, todo)
    timerService.send('START')
    dispatch('start')
  }
  function handleStop() {
    let event = 'PAUSE'
    if (
      todo.timerValues.hours <= 0 &&
      todo.timerValues.minutes <= 0 &&
      todo.timerValues.seconds <= 0
    ) {
      event = 'FINISH'
    }
    if (!timerService) {
      timerService = $timerMachineStore.timerServices[todo.id]
    }
    timerService.send(event)
    dispatch('stop')
  }

  function handleEdit() {
    if (!timerService) {
      timerService = $timerMachineStore.timerServices[todo.id]
    }
    console.log('handle edit', timerService)
    if (timerService._state.value !== TIMER_STATE.SETUP) {
      console.log('timer edit service send')
      timerService.send('SETUP')
    } else {
      timerService.send('DONE')
    }
    dispatch('edit')
  }

  function markTodo() {
    dispatch('mark')
  }

  function handleTitleKeypress(e) {
    if (e.code === 'Enter') {
      e.preventDefault()
      textElement.focus()
    }
  }

  function getBackgroundColor(state) {
    if (state === STATE.RUNNING) {
      return 'bg-extra'
    } else if (state === STATE.MARKED) {
      return 'bg-error'
    } else {
      return 'bg-secondary'
    }
  }

  $: bgStyle = getBackgroundColor(state)
</script>

<style lang="postcss">
  .c-button-out {
    flex: 0 0 auto;
    @apply mb-2 h-10 w-10 bg-secondary-a20 flex rounded-lg items-center justify-center;
  }
  .c-button-out--tutorial {
    flex: 0 0 auto;
    @apply mb-2 h-10 w-10 bg-secondary-a20 flex rounded-lg items-center justify-center;
  }
  @media (min-width: 1024px) {
    .c-button-out {
      @apply bg-transparent invisible;
    }
    .c-button-out:hover {
      @apply bg-secondary-a20;
    }
    .c-button-inner {
      @apply invisible;
    }
    .c-todo:hover button {
      @apply visible;
    }
  }
  .c-edit {
    top: 0.5rem;
    right: 0.5rem;
  }

  h2 {
    max-width: calc(100% - 2.5rem);
    @apply w-full text-light font-bold text-3xl mb-2;
  }
  h2.tutorial {
    @apply text-xl;
  }
  .c-deletion-mode {
    top: 0;
    left: 0;
  }
  .c-deletion-mode:hover .c-deletion-wrapper {
    display: flex;
  }
  .c-deletion-mode:hover + .c-blur-sm {
    filter: blur(4px);
  }
  .c-blur-sm {
    filter: blur(1px);
  }
  .c-content {
    min-height: 2.5rem;
  }
</style>

<div
  class="{state === STATE.DELETION_MODE || state === STATE.MARKED ? 'c-deletion-mode' : 'c-active'}
  c-todo relative">
  {#if state === STATE.DELETION_MODE || state === STATE.MARKED}
    <div
      on:click={markTodo}
      class="w-full h-full cursor-pointer absolute c-deletion-wrapper flex
      items-center justify-center">
      <div class="h-12 w-12 c-delete-icon z-10">
        <DeleteIcon className="w-full h-full fill-current text-dark-a90" />
      </div>
    </div>
  {/if}
  <div
    class={state === STATE.DELETION_MODE || state === STATE.MARKED ? 'c-blur-sm pointer-events-none' : ''}>
    <div class="flex justify-between items-end">
      {#if state !== STATE.EDIT}
        <h2
          class="{isTutorial ? 'tutorial' : ''} break-word"
          tabindex="0"
          bind:this={titleElement}
          contenteditable="false">
          {todo.title}
        </h2>
      {:else}
        <h2
          tabindex="0"
          on:keypress={handleTitleKeypress}
          bind:textContent={todo.title}
          bind:this={titleElement}
          contenteditable="true">
          {todo.title}
        </h2>
      {/if}
      {#if timerService && timerService._state.value === TIMER_STATE.COUNTDOWN}
        <button class="c-button-out" on:click={handleStop}>
          <StopIcon className="fill-current text-light" />
        </button>
      {:else if sets === 0}
        <button class="c-button-out" on:click={handleDone}>
          <CheckIcon className="fill-current text-light" />
        </button>
      {:else}
        <button
          class={isTutorial ? 'c-button-out--tutorial' : 'c-button-out'}
          on:click={handleStart}>
          <PlayArrowIcon className="fill-current text-light" />
        </button>
      {/if}
    </div>
    <div
      class="{bgStyle} c-content relative text-main text-lg rounded-md py-2 pl-2
      pr-14">
      {#if state !== STATE.EDIT}
        <div
          tabindex="0"
          class={todo.text.html ? 'c-content p-1 mb-2' : ''}
          bind:innerHTML={todo.text.html}
          contenteditable="false" />
      {:else}
        <div
          tabindex="0"
          class="c-content p-1 mb-2 border-b border-dark"
          bind:innerHTML={todo.text.html}
          bind:this={textElement}
          contenteditable="true" />
      {/if}
      <Timer
        on:end={handleDone}
        on:pause={handleStop}
        bind:todo
        bind:sets
        bind:timerValues
        bind:initialTimerValues />
      <button
        on:click={handleEdit}
        class="{isTutorial ? '' : 'c-button-inner'} h-10 w-10 flex items-center
        justify-center bg-white lg:bg-transparent hover:bg-light rounded-lg
        c-edit absolute">
        <CreateIcon className="fill-current text-main" />
      </button>
    </div>
  </div>
</div>
