<script>
  import { createEventDispatcher } from 'svelte'
  import { STATE } from '../../constants'

  import CreateIcon from '../icons/createIcon.svelte'
  import CheckIcon from '../icons/checkIcon.svelte'
  import DeleteIcon from '../icons/deleteIcon.svelte'

  export let state
  export let todo
  export let titleElement = null
  export let textElement = null
  export let isTutorial = false
  export let doneButtonRef = null

  const dispatch = createEventDispatcher()

  function handleDone() {
    dispatch('done')
  }

  function handleEdit() {
    dispatch('edit')
  }

  function markTodo() {
    dispatch('mark')
  }

  function handleTitleKeypress(e) {
    if (e.code === 'Enter') {
      e.preventDefault()
      textElement.focus()
    }
  }

  function getBackgroundColor(state) {
    if (state === STATE.MARKED) {
      return 'bg-error'
    } else {
      return 'bg-secondary'
    }
  }

  $: bgStyle = getBackgroundColor(state)
  $: console.log('task', bgStyle, state)
</script>

<style lang="postcss">
  .c-button-out {
    flex: 0 0 auto;
    @apply mb-2 h-10 w-10 bg-secondary-a20 flex rounded-lg items-center justify-center;
  }
  .c-button-out--tutorial {
    flex: 0 0 auto;
    @apply mb-2 h-10 w-10 bg-secondary-a20 flex rounded-lg items-center justify-center;
  }
  @media (min-width: 1024px) {
    .c-button-out {
      @apply bg-transparent invisible;
    }
    .c-button-out:hover {
      @apply bg-secondary-a20;
    }
    .c-button-inner {
      @apply invisible;
    }
    .c-todo:hover button {
      @apply visible;
    }
  }
  .c-edit {
    top: 0.5rem;
    right: 0.5rem;
  }
  .c-deletion-mode {
    top: 0;
    left: 0;
  }
  .c-deletion-mode:hover .c-deletion-wrapper {
    display: flex;
  }
  .c-deletion-mode:hover + .c-blur-sm {
    filter: blur(4px);
  }
  .c-blur-sm {
    filter: blur(1px);
  }
  h2 {
    max-width: calc(100% - 2.5rem);
    @apply w-full text-light font-bold text-3xl mb-2;
  }
  h2.tutorial {
    @apply text-xl;
  }
  .c-content {
    min-height: 2.5rem;
  }
</style>

<div
  class="{state === STATE.DELETION_MODE || state === STATE.MARKED ? 'c-deletion-mode' : 'c-active'}
  z-20 c-todo relative">
  {#if state === STATE.DELETION_MODE || state === STATE.MARKED}
    <div
      on:click={markTodo}
      class="w-full h-full cursor-pointer absolute c-deletion-wrapper flex
      items-center justify-center">
      <div class="h-12 w-12 c-delete-icon z-10">
        <DeleteIcon className="w-full h-full fill-current text-dark-a90" />
      </div>
    </div>
  {/if}
  <div
    class={state === STATE.DELETION_MODE || state === STATE.MARKED ? 'c-blur-sm pointer-events-none' : ''}>
    <div class="flex justify-between items-end">
      {#if state !== STATE.EDIT}
        <h2
          class="{isTutorial ? 'tutorial' : ''} break-words"
          tabindex="0"
          bind:this={titleElement}
          contenteditable="false">
          {todo.title}
        </h2>
      {:else}
        <h2
          tabindex="0"
          on:keypress={handleTitleKeypress}
          bind:this={titleElement}
          bind:textContent={todo.title}
          contenteditable="true">
        </h2>
      {/if}
      <button
        bind:this={doneButtonRef}
        class={isTutorial ? 'c-button-out--tutorial' : 'c-button-out'}
        on:click={handleDone}>
        <CheckIcon className="fill-current text-light" />
      </button>
    </div>
    <div
      class="c-content relative text-main text-lg {bgStyle} rounded-md py-2 pl-2
      pr-12">
      {#if state !== STATE.EDIT}
        <div
          tabindex="0"
          class="c-content p-1"
          bind:innerHTML={todo.text.html}
          contenteditable="false" />
      {:else}
        <div
          tabindex="0"
          class="c-content p-1"
          bind:innerHTML={todo.text.html}
          bind:this={textElement}
          contenteditable="true" />
      {/if}
      <button
        on:click={handleEdit}
        class="{isTutorial ? '' : 'c-button-inner'} h-10 w-10 flex items-center
        justify-center bg-white lg:bg-transparent hover:bg-white rounded-lg
        c-edit absolute">
        <CreateIcon className="fill-current text-main" />
      </button>
    </div>
  </div>
</div>
