<script>
  // These props are for tutorial
  export let textRef = null
  export let baseFrequency = 0
  export let seed = 0
  export let isTutorial = false
</script>

<style>
  .c-blur-sm {
    filter: blur(1px);
  }
  svg {
    transform: translateX(-50%);
    left: 50%;
  }
</style>

<div class="s-blocked c-todo relative">
  <svg class="{isTutorial ? 'text-xl' : 'text-xl lg:text-3xl'} c-done-text absolute fill-current text-error z-20">
    <defs>
      <filter
        height="1.3"
        y="-0.15"
        width="1.3"
        x="-0.15"
        style="color-interpolation-filters:sRGB;"
        id="filter2233">
        <feTurbulence
          numOctaves="5"
          type="fractalNoise"
          {baseFrequency}
          {seed}
          result="result1"
          id="feTurbulence2227" />
        <feGaussianBlur
          stdDeviation="2"
          result="result2"
          id="feGaussianBlur2229" />
        <feDisplacementMap
          scale="50"
          yChannelSelector="B"
          xChannelSelector="R"
          in="SourceGraphic"
          in2="result2"
          id="feDisplacementMap2231" />
      </filter>
    </defs>
    <text
      class="w-full"
      bind:this={textRef}
      x="50%"
      y="50%"
      dominant-baseline="middle"
      text-anchor="middle">
      ЗАБЛОКИРОВАНО
    </text>
  </svg>
  <div class="c-blur-sm">
    <div class="h-8 bg-light-a10 mb-2 w-2/6" />
    <div
      class="h-16 flex flex-col justify-around bg-secondary-a10 rounded-md py-4
      pl-4 pr-8" />
  </div>
</div>
