<script>
  export let todo = {}
  export let isTutorial = false
</script>

<style>
  .c-blur-sm {
    filter: blur(1px);
  }
  svg {
    transform: translateX(-50%);
    left: 50%;
  }
</style>

<div class="s-done c-todo relative">
  <svg class="{isTutorial ? 'text-xl' : 'text-3xl'} w-full c-done-text absolute fill-current text-accent z-20">
    <text class="w-full" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
      ГОТОВО
    </text>
  </svg>
  <div class="c-blur-sm">
    <div class="flex justify-between items-center">
      <h2
        tabindex="0"
        contenteditable="false"
        class="overflow-hidden whitespace-no-wrap h-12 text-light font-bold
        text-3xl mb-2">
        {todo.title}
      </h2>
    </div>
    <div
      class="relative text-main text-lg bg-secondary-a20 rounded-md py-2 pl-2
      pr-8">
      <div
        tabindex="0"
        class="content text-white p-1"
        bind:innerHTML={todo.text.html}
        contenteditable="false" />
    </div>
  </div>
</div>
