<script>
  import { createEventDispatcher } from 'svelte'
  import { STATE } from '../../constants'

  import AddBoxIcon from '../icons/addBoxIcon.svelte'
  import CreateIcon from '../icons/createIcon.svelte'
  import SpinnerIcon from '../icons/spinnerIcon.svelte'

  export let state = STATE.EMPTY;
  export let buttonGenerateRef = null
  export let isTutorial = false
  export let bgRef = null;

  const dispatch = createEventDispatcher()

  function handleGenerateTodo() {
    dispatch('generate')
  }
  function handleCreateNewTodo() {
    dispatch('create')
  }
</script>

<style>
  .c-buttons-wrapper {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    @apply absolute;
  }
  .c-empty:hover .c-buttons-wrapper {
    display: block;
  }

  .c-add-button:hover :global(svg) {
    @apply text-light-a60;
  }

  .c-gen-button:hover :global(svg) {
    @apply text-light-a60;
  }

  .c-blur {
    filter: blur(4px);
  }
  @media (min-width: 1024px) {
    .c-blur {
      filter: none;
    }
    .c-todo:hover .c-blur {
      filter: blur(4px);
    }
  }
  .c-spinner-wrapper {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    @apply absolute;
  }
  .c-spinner-wrapper :global(svg) {
    animation-duration: 2s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

<svelte:options immutable={true} />
<div
  class="c-empty c-todo relative">
  {#if state === STATE.EMPTY}
    <div class="c-buttons-wrapper z-10 {isTutorial ? '' : 'lg:hidden'}">
    <button bind:this={buttonGenerateRef} on:click={handleGenerateTodo} class="cursor-pointer h-12 w-12 c-gen-button mr-4">
      <AddBoxIcon className="fill-current w-full h-full text-light-a90" />
    </button>
    <button on:click={handleCreateNewTodo} class="h-12 w-12 c-add-button">
      <CreateIcon className="fill-current w-full h-full text-light-a90" />
    </button>
  </div>
  {:else if state === STATE.GENERATE}
  <div class="c-spinner-wrapper">
    <SpinnerIcon
      width="24"
      height="24"
      className="fill-current text-secondary-a90" />
  </div>
  {/if}
  <div class="{isTutorial ? '' : 'c-blur'}">
    <div class="h-8 bg-light-a10 mb-2 w-2/6" />
    <div
      bind:this={bgRef}
      class="{isTutorial ? 'h-16' : 'h-32'} flex flex-col justify-around bg-secondary-a10 rounded-md
      py-4 pl-4 pr-8">
      {#if isTutorial}
        <div class="w-4/5 h-8 bg-secondary-a20 mb-4" />
        <div class="w-3/5 h-8 bg-secondary-a20" />
      {:else}
        <div class="w-4/5 h-6 bg-secondary-a20 mb-2" />
        <div class="w-3/5 h-6 bg-secondary-a20 mb-2" />
        <div class="w-5/6 h-6 bg-secondary-a20" />
      {/if}
    </div>
  </div>
</div>
