<style>
  .blur {
    filter: blur(4px);
  }
</style>

<svelte:options immutable={true} />
<div class="c-not-editable c-todo relative">
  <div class="blur">
    <div class="h-8 bg-light-a10 mb-2 w-2/6" />
    <div
      class="h-32 flex flex-col justify-around bg-secondary-a10 rounded-md py-4
      pl-4 pr-8">
      <div class="w-4/5 h-6 bg-secondary-a20 mb-2" />
      <div class="w-3/5 h-6 bg-secondary-a20 mb-2" />
      <div class="w-5/6 h-6 bg-secondary-a20" />
    </div>
  </div>
</div>
