<script>
  import { url } from '@sveltech/routify'
  import SpinnerIcon from './icons/spinnerIcon.svelte'

  export let kind = 'button'
  export let size = 'md'
  export let to = ''
  export let className = ''
  export let type = ''
</script>

<style lang="postcss">
  .button--sm {
    @apply h-10 px-8;
  }
  .button--md {
    @apply h-12 px-12 text-xl;
  }
  .button--lg {
    @apply h-16 px-16 text-2xl;
  }
  button :global(svg.spin) {
    animation-duration: 2s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

{#if kind === 'button'}
  <button
    on:click
    {type}
    class="button--{size}
    {className} hover:bg-secondary-a90 text-main rounded-md bg-secondary">
    <slot />
  </button>
{:else if kind === 'button-accent'}
  <button
    on:click
    {type}
    class="button--{size}
    {className} hover:bg-accent-a90 text-main rounded-md bg-accent">
    <slot />
  </button>
{:else if kind === 'link'}
  <a
    href={$url(to)}
    class="{className} hover:bg-secondary-a90 inline-flex items-center button--{size}
    text-main rounded-md bg-secondary">
    <slot />
  </a>
{:else if kind === 'loading'}
  <button
    on:click
    {type}
    class="button--{size}
    {className} flex justify-center items-center hover:bg-secondary-a90
    text-main rounded-md bg-secondary">
    <slot />
    <span class="ml-4">
      <SpinnerIcon className="fill-current text-main spin" />
    </span>
  </button>
{/if}
