<script>
  import { createEventDispatcher } from 'svelte'
  import Portal from './Portal.svelte'
  import Button from './Button.svelte'

  const dispatch = createEventDispatcher()

  let contentElement

  function closeModalViaOverflow(e) {
    if (contentElement.contains(e.target)) {
      return
    }
    dispatch('close')
  }

  function closeModal() {
    dispatch('close')
  }

  function confirm() {
    dispatch('confirm', {
      ok: true,
    })
  }
</script>

<style lang="postcss">
  .modal {
    background: rgba(100, 100, 100, 0.5);
    @apply w-screen z-50 h-screen fixed inset-0;
  }
  .content {
    width: 50vh;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @apply relative rounded-lg p-3 bg-light text-dark;
  }
</style>

<Portal>
  <div on:click={closeModalViaOverflow} class="modal">
    <div bind:this={contentElement} class="content">
      <div class="font-bold text-2xl text-dark text-center">
        Вы точно это сделали?
      </div>
      <div class="flex justify-between mt-6">
        <Button on:click={confirm}>Да</Button>
        <Button on:click={closeModal}>Нет</Button>
      </div>
    </div>
  </div>
</Portal>
