<script>
  import { slide } from 'svelte/transition'
  import { STATE } from '../constants'

  export let list = []
  export let showList = true

  console.log('list', list)
</script>

<button
  on:click={() => (showList = !showList)}
  class="text-left mb-3 px-1 py-2 bg-secondary-a10 w-full">
  <slot />
</button>
{#if showList}
  <ul>
    {#each list as item}
      {#if item.done}
        <li
          transition:slide
          class="py-2 border-b border-secondary-a10 mb-2 last:mb-0
          hover:border-secondary-a20">
          <h3 class="font-bold text-extra text-lg">{item.title}</h3>
          <div>
            {@html item.text.html}
          </div>
        </li>
      {:else if item.state === STATE.FILLED}
        <li>
          <h3 class="font-bold text-error text-lg">{item.title}</h3>
          <div>
            {@html item.text.html}
          </div>
        </li>
      {/if}
    {/each}
  </ul>
{/if}
