<script>
  import { url } from '@sveltech/routify'
  import { userStore } from '../stores/user'
</script>

<style lang="postcss">
  a {
    @apply border-b-2 border-transparent;
  }
  a:hover {
    @apply border-b-2 border-secondary-a20;
  }
</style>

<header class="flex mx-auto container text-light items-center justify-between px-4 py-6">
  <a href={$url('/')}>333Todo <span class="text-secondary-a90">(alpha)</span></a>
  {#if !$userStore.user}
    <a href={$url('login')}>Войти</a>
  {:else if $userStore.user.GUEST}
    <a href={$url('login')}>Войти</a>
  {:else}
    <a href={$url('profile')}>{$userStore.user.email}</a>
  {/if}
</header>
