<script>
  import ArrowDownIcon from './icons/keyboardArrowDownIcon.svelte'
  import ArrowUpIcon from './icons/keyboardArrowUpIcon.svelte'

  export let number
  export let suffix = '';

  if (number < 0) {
    number = 0
  }
  if (typeof number === 'string') {
    number = +number
  }

  const STATE = {
    ACTIVE: 'active',
    INACTIVE: 'inactive',
  }

  let buttonDecreaseState = STATE.INACTIVE
  const buttonIncreaseState = STATE.ACTIVE

  function increase() {
    number += 1
    buttonDecreaseState = STATE.ACTIVE
  }

  function decrease() {
    if (number === 0) {
      buttonDecreaseState = STATE.INACTIVE
      return
    }
    number -= 1
  }

  function getButtonStyle(buttonState) {
    if (buttonState === STATE.ACTIVE) {
      return 'text-main '
    } else if (buttonState === STATE.INACTIVE) {
      return 'text-light-a10'
    }
    return 'text-main'
  }

  $: buttonIncreaseStyle = getButtonStyle(buttonIncreaseState)
  $: buttonDecreaseStyle = getButtonStyle(buttonDecreaseState)
</script>

<style lang="postcss">
  button {
    @apply bg-transparent border-none;
  }
  button:hover :global(svg) {
    @apply bg-light-a60;
  }
  button:hover :global(svg) {
    @apply bg-light-a60;
  }
  .c-suffix {
    padding: 1px;
  }
</style>

<div class="c-number-picker flex flex-col items-center">
  <button class="{buttonIncreaseStyle} block rounded w-6 h-6" on:click={increase}>
    <ArrowUpIcon className="fill-current text-main" />
  </button>
  <div>
    <span>{number}</span>&nbsp;<span class="bg-accent c-suffix">{suffix}</span>
  </div>
  <button class="{buttonDecreaseStyle} block rounded w-6 h-6" on:click={decrease}>
    <ArrowDownIcon className="fill-current text-main" />
  </button>
</div>
