<script>
  export let ref = null
  export let value
  export let className = ''
</script>

<style lang="postcss">
  input:invalid {
    @apply border-light-a10 shadow-none;
  }
  input:required {
    @apply border-light-a10 shadow-none;
  }
  input.error {
    box-shadow: 0 0 0 2px var(--error-color);
  }
  input:focus {
    @apply bg-light-a90;
  }
</style>

<input
  on:input
  on:invalid
  bind:this={ref}
  bind:value
  class="{className} border border-light-a10 outline-none rounded-sm text-main
  px-3 py-1 h-8"
  {...$$props} />
