<script>
  export let text = 'кнопка';
  export let value = '';
  export let type = 'button'
  export let color = "main";

  let buttonColor;

  switch (color) {
    case "gray":
      buttonColor = 'bg-dark-a10 hover:bg-dark-a20'
      break;
    case "red":
        buttonColor = "bg-error hover:bg-error-a70"
      break;
    default:
      buttonColor = 'bg-dark-a10 hover:bg-dark-a20'
  }
</script>

<button {type} {value} on:click class="{buttonColor}  py-1 px-2 rounded">
  {text}
</button>
