<script>
  import Todo from './Todo.svelte'

  export let todolist
  export let type

</script>

<div data-testid={`todolist-${type}`}>
  {#each todolist as todo, i (todo.id)}
    <div class="mb-8 last:mb-0">
      <Todo
        {type}
        initialState={todo.state}
        place={i}
        todo={todo} />
    </div>
  {/each}
</div>
