<script>
  import { slideOff } from '../utils/animations'
</script>

<style>
  div {
    will-change: transform;
  }
</style>

<div class="w-full h-full" in:slideOff|local out:slideOff|local={{direction: 'left'}}>
  <slot>
  </slot>
</div>
