<script>
  import { fade } from 'svelte/transition'
  import { createEventDispatcher } from 'svelte'
  import Button from './Button.svelte'

  export let text
  let ref

  const dispatch = createEventDispatcher()

  function cancelAction() {
    dispatch('cancel')
  }
  $: ref && document.body.append(ref)
</script>

<style>
  .warning {
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
  }
</style>

<div
  transition:fade
  bind:this={ref}
  class="warning bg-dark rounded-lg z-30 w-10/12 lg:w-5/12 xl:3/12 fixed mx-auto mb-16 px-4 py-4">
  <div class="flex items-center justify-around">
    <span class="mr-6 text-sm lg:text-base text-secondary">{text}</span>
    <Button size="sm" on:click={cancelAction}>Отменить</Button>
  </div>
</div>
