<script>
  export let className = '';
  export let height = '';
  export let width = '';
</script>
<svg class={className} width={width ? width : '24'} height={height ? height : '24'} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
<path d="M0 0h24v24H0z" fill="none"/>
</svg>