<script>
  export let className = '';
  export let height = '';
  export let width = '';
</script>
<svg class={className} width={width ? width : '16'} height={height ? height : '16'}  viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
  <path d="m1.0703 4a8 8 0 0 0-1.0703 4 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0
    0-1.0723-4h-1.1836a7 7 0 0 1 1.2559 4 7 7 0 0 1-7 7 7 7 0 0 1-7-7 7 7
    0 0 1 1.2559-4h-1.1855z"/>
</svg>