<script>
  import { onMount } from 'svelte'
  import ActiveTask from '../todostate/ActiveTask.svelte'
  import ActiveActivity from '../todostate/ActiveActivity.svelte'
  import Blocked from '../todostate/Blocked.svelte'

  let text
  let text2

  const task = {
    title: 'Название задачи',
    text: {
      html: 'Текст задачи',
      content: 'Текст задачи',
    },
  }

  const activity = {
    title: 'Название задачи',
    text: {
      html: '',
      content: '',
    },
    timerValues: {
      hours: 0,
      minutes: 1,
      seconds: 0
    },
    initialTimerValues: {
      hours: 0,
      minutes: 1,
      seconds: 0
    }
  }

  let baseFrequency = 0.1
  let seed = 0.1
  function animation() {
    baseFrequency = 0.1
    seed = 0.1
    text.style.filter = ''
    text2.style.filter = ''

    let j = 0
    let i = 0.05
    const innerIntervalId = setInterval(() => {
      if (j > 6) {
        text.style.filter = ''
        text2.style.filter = ''
        clearInterval(innerIntervalId)
        return
      }
      text.style.filter = 'url(#filter2233)'
      text2.style.filter = 'url(#filter2233)'
      baseFrequency = i % 2
      seed = i % 2
      i += 0.1
      j += 1
    }, 300)

    return () => {
      clearInterval(innerIntervalId)
    }
  }

  onMount(() => {
    let stop = animation()

    const initIntervalId = setTimeout(() => {
      stop = animation()
    }, 300)

    const intervalId = setInterval(() => {
      stop = animation()
    }, 3300)

    return () => {
      if (stop) {
        stop()
      }
      clearInterval(intervalId)
      clearInterval(initIntervalId)
    }
  })
</script>

<div class="flex">
  <div class="flex-1 lg:mr-2">
    <div class="mb-4">
      <ActiveTask isTutorial={true} state="FILLED" todo={task} />
    </div>
    <Blocked isTutorial={true} {baseFrequency} {seed} bind:textRef={text} />
  </div>
  <div class="flex-1 hidden lg:block">
    <div class="mb-4">
      <ActiveActivity isTutorial={true} state="FILLED" todo={activity} />
    </div>
    <Blocked isTutorial={true} {baseFrequency} {seed} bind:textRef={text2}/>
  </div>
</div>
