<script>
  import { onMount } from 'svelte'
  import { cursorAnimation } from '../../utils/animations.js'
  import ActiveTask from '../todostate/ActiveTask.svelte'
  import Done from '../todostate/Done.svelte'
  import { STATE } from '../../constants'
  import throttle from 'lodash-es/throttle'

  let todoState = STATE.FILLED
  let showCursor = true
  let doneButtonRef
  let init = false

  let cursor
  let circle
  let ring1
  let ring2
  let ring3

  const todo = {
    title: 'Название задачи',
    text: {
      html: 'Текст задачи',
      content: 'Текст задачи',
    },
  }

  function toggleScene() {
    init = true
    if (todoState === STATE.FILLED) {
      todoState = STATE.DONE
    } else if (todoState === STATE.DONE) {
      todoState = STATE.FILLED
    }
    showCursor = !showCursor
  }

  let doneButtonRect

  function animation(doneButtonRect) {
    if (init) {
      toggleScene()
    }
    const timeoutId = setTimeout(() => {
      const cursorRect = cursor.getBoundingClientRect()
      cursorAnimation({
        cursor,
        circle,
        ring1,
        ring2,
        ring3,
        coordinates: {
          to: {
            x: doneButtonRect.left - cursorRect.left,
            y: doneButtonRect.top - cursorRect.top + 12,
          },
          from: { x: 0, y: 0 },
        },
      })
    }, 0)

    const timeoutId2 = setTimeout(() => {
      toggleScene()
    }, 2900)

    return () => {
      clearTimeout(timeoutId)
      clearTimeout(timeoutId2)
    }
  }

  function handleResize() {
    doneButtonRect = doneButtonRef.getBoundingClientRect()
  }
  const throttledResize = throttle(handleResize, 200)

  onMount(() => {
    let stop
    let intervalId

    // wait for .c-tutorial-slider transition
    const waitTimeout = setTimeout(() => {
      doneButtonRect = doneButtonRef.getBoundingClientRect()
      stop = animation(doneButtonRect)
      intervalId = setInterval(() => {
        stop = animation(doneButtonRect)
      }, 4000)
    }, 1200)

    return () => {
      if (stop) {
        stop()
      }
      clearInterval(intervalId)
      clearTimeout(waitTimeout)
    }
  })
</script>

<style lang="postcss">
  svg {
    @apply fixed top-0 left-0;
  }
</style>

<svelte:window on:resize={throttledResize} />
{#if todoState === STATE.FILLED}
  <ActiveTask isTutorial={true} bind:doneButtonRef {todo} state={todoState} />
{:else if todoState === STATE.DONE}
  <Done {todo} />
{/if}
{#if showCursor}
  <svg width="32px" height="32px" viewBox="0 0 32 32" bind:this={cursor}>
    <circle
      bind:this={circle}
      cx="16"
      cy="16"
      r="7.5"
      fill-opacity="0.6"
      stroke="#bbb"
      stroke-width="2" />
    <circle
      bind:this={ring1}
      class="ring-1"
      cx="16"
      cy="16"
      r="7.5"
      fill="#bbb"
      fill-opacity="0.3"
      stroke-width="2" />
    <circle
      class="ring-2"
      bind:this={ring2}
      cx="16"
      cy="16"
      r="7.5"
      fill="#bbb"
      stroke-width="2"
      fill-opacity="0.3" />
    <circle
      class="ring-3"
      bind:this={ring3}
      cx="16"
      cy="16"
      r="7.5"
      fill="#bbb"
      stroke-width="2"
      fill-opacity="0.3" />
  </svg>
{/if}
