<script>
  import { onMount } from 'svelte'
  import { cursorAnimation } from '../../utils/animations'
  import { STATE } from '../../constants'
  import Empty from '../todostate/Empty.svelte'
  import ActiveTask from '../todostate/ActiveTask.svelte'
  import throttle from 'lodash-es/throttle'

  let todoState = STATE.EMPTY
  let showCursor = true
  let init = false

  let generateButton

  let cursor
  let circle
  let ring1
  let ring2
  let ring3

  const todo = {
    title: '',
    text: {
      html: '',
      content: '',
    },
  }

  const title = 'Название задачи'
  const content = 'Текст задачи'

  function toggleScene() {
    init = true;
    if (todoState === STATE.EMPTY) {
      todoState = STATE.FILLED
    } else if (todoState === STATE.FILLED) {
      todoState = STATE.EMPTY
    }
    showCursor = !showCursor
  }

  let timeoutId = undefined
  let titleInterval = undefined
  let contentInterval = undefined

  function animation(generateButtonRect) {
    clearInterval(contentInterval)
    if (init) {
      toggleScene()
    }

    setTimeout(() => {
      const cursorRect = cursor.getBoundingClientRect()
      cursorAnimation({
        cursor,
        circle,
        ring1,
        ring2,
        ring3,
        coordinates: {
          to: {
            x: generateButtonRect.left - cursorRect.left + 8,
            y: generateButtonRect.top - cursorRect.top + 8,
          },
          from: { x: 0, y: 0 },
        },
      })
    }, 0)

    timeoutId = setTimeout(() => {
      toggleScene()

      setTimeout(() => {
        todo.title = ''
        todo.text.html = ''
      }, 0)

      let t = 0.1

      titleInterval = setInterval(() => {
        const i = ~~(title.length * t)
        todo.title = title.slice(0, i)
        t += 0.1
      }, 50)

      timeoutId = setTimeout(() => {
        clearInterval(titleInterval)
        let t1 = 0.1

        contentInterval = setInterval(() => {
          const i = ~~(content.length * t1)
          todo.text.html = content.slice(0, i)
          t1 += 0.1
        }, 50)
      }, title.length * 70)
    }, 2900)

    return () => {
      clearInterval(contentInterval)
      clearInterval(titleInterval)
      clearTimeout(timeoutId)
    }
  }

  function handleResize() {
    generateButtonRect = generateButton.getBoundingClientRect()
  }

  const throttledResize = throttle(handleResize, 200)

  let generateButtonRect
  onMount(() => {
    let stop;
    let rootInterval;

    // wait for .c-tutorial-slider transition
    const rootTimeout = setTimeout(() => {
      generateButtonRect = generateButton.getBoundingClientRect()
      stop = animation(generateButtonRect)
      rootInterval = setInterval(() => {
        stop = animation(generateButtonRect)
      }, 6000)
    }, 1200)

    return () => {
      if (stop) {
        stop()
      }
      clearInterval(rootInterval)
      clearTimeout(rootTimeout)
    }
  })
</script>

<style lang="postcss">
  svg {
    @apply fixed top-0 left-0;
  }
</style>

<svelte:window on:resize={throttledResize} />

{#if todoState === STATE.EMPTY}
  <Empty isTutorial={true} bind:buttonGenerateRef={generateButton} state={todoState} />
{:else if todoState === STATE.FILLED}
  <ActiveTask isTutorial={true} {todo} state={todoState} />
{/if}
{#if showCursor}
  <svg width="32px" height="32px" viewBox="0 0 32 32" bind:this={cursor}>
    <circle
      bind:this={circle}
      cx="16"
      cy="16"
      r="7.5"
      fill-opacity="0.6"
      stroke="#bbb"
      stroke-width="2" />
    <circle
      bind:this={ring1}
      class="ring-1"
      cx="16"
      cy="16"
      r="7.5"
      fill="#bbb"
      fill-opacity="0.3"
      stroke-width="2" />
    <circle
      class="ring-2"
      bind:this={ring2}
      cx="16"
      cy="16"
      r="7.5"
      fill="#bbb"
      stroke-width="2"
      fill-opacity="0.3" />
    <circle
      class="ring-3"
      bind:this={ring3}
      cx="16"
      cy="16"
      r="7.5"
      fill="#bbb"
      stroke-width="2"
      fill-opacity="0.3" />
  </svg>
{/if}
