<script>
  import { onMount, tick } from 'svelte'
  import Empty from '../todostate/Empty.svelte'

  let todo1
  let todo2
  let todo3
  let todo4


  onMount(() => {
    let rafID = window.requestAnimationFrame(() => {
      todo1.classList.add('animate', `animate${1}`)
      todo2.classList.add('animate', `animate${2}`)
      todo3.classList.add('animate', `animate${3}`)
      todo4.classList.add('animate', `animate${4}`)
    })

    const intervalId = setInterval(async () => {
      console.log('sadfasdf')
      todo1.classList.remove('animate', `animate${1}`)
      todo2.classList.remove('animate', `animate${2}`)
      todo3.classList.remove('animate', `animate${3}`)
      todo4.classList.remove('animate', `animate${4}`)

      todo1.offsetHeight
      todo2.offsetHeight
      todo3.offsetHeight
      todo4.offsetHeight

      rafID = window.requestAnimationFrame(() => {
        todo1.classList.add('animate', `animate${1}`)
        todo2.classList.add('animate', `animate${2}`)
        todo3.classList.add('animate', `animate${3}`)
        todo4.classList.add('animate', `animate${4}`)
      })
    }, 4000)

    return () => {
      clearInterval(intervalId)
      window.cancelAnimationFrame(rafID)
    }
  })
</script>

<style>
  #stage2 :global(.animate) {
    animation-name: fill;
    animation-timing-function: ease;
    animation-duration: 800ms;
  }
  :global(.animate1) {
    animation-delay: 500ms;
  }
  :global(.animate2) {
    animation-delay: 1000ms;
  }
  :global(.animate3) {
    animation-delay: 1500ms;
  }
  :global(.animate4) {
    animation-delay: 2000ms;
  }
  :global(.animate5) {
    animation-delay: 2500ms;
  }
  :global(.animate6) {
    animation-delay: 3000ms;
  }
  @keyframes fill {
    from {
      background: var(--secondary-color-a10);
    }
    to {
      background: #444444;
    }
  }
</style>

<div class="flex flex-col lg:flex-row" id="stage2">
  <div class="flex-1">
    <div class="mb-4 lg:mr-2">
      <Empty
        bind:bgRef={todo1}
        isTutorial={true}
        state="EMPTY" />
    </div>
    <div class="lg:mr-2">
      <Empty
        bind:bgRef={todo2}
        isTutorial={true}
        state="EMPTY" />
    </div>
  </div>
  <div class="hidden lg:block flex-1">
    <div class="mb-4">
      <Empty
        bind:bgRef={todo3}
        isTutorial={true}
        state="EMPTY" />
    </div>
    <div>
      <Empty
        bind:bgRef={todo4}
        isTutorial={true}
        state="EMPTY" />
    </div>
  </div>
</div>
