<script>
  import { onMount, setContext } from 'svelte'
  import { goto } from '@sveltech/routify'
  import TodoList from '../../components/TodoList.svelte'
  import Transition from '../../components/Transition.svelte'
  import { userStore } from '../../stores/user'
  import { todosStore } from '../../stores/todos'
  import { sprintStore } from '../../stores/sprint'
  import {
    writeToDB,
    initDB,
    deleteFromDB,
    updateCurrentDoneTodos,
    checkEndOfSprint,
  } from '../../services/database'
  import { machineStore } from '../../stores/machine'

  let deletionMode = false

  let overlayActive = false

  if ($userStore.user && $sprintStore.end) {
    console.log('check end of sprint', $sprintStore)
    const end = checkEndOfSprint($sprintStore.end)
    if (end) {
      console.log('true')
      $goto('results')
    }
  }

  function toggleMark(type, place) {
    todosStore.toggleMark(type, place)
  }

  function toggleOverlay() {
    overlayActive = !overlayActive
  }

  setContext('todolist', {
    toggleMark,
    writeToDB,
    toggleOverlay,
    updateCurrentDoneTodos,
    checkEndOfSprint,
  })

  function setTodoDeletion() {
    deletionMode = true
    console.log('ms', $machineStore.todoServices)
    Object.values($machineStore.todoServices).forEach((machine) => {
      machine.send('ENABLE_DELETION_MODE')
    })
  }

  function cancelDeletionMode() {
    deletionMode = false
    Object.values($machineStore.todoServices).forEach((machine) => {
      machine.send('CANCEL')
    })
  }

  async function confirmDeletion() {
    deletionMode = false
    try {
      await deleteFromDB()
    } catch (e) {
      console.log('deletefromdb error', e)
    }
    Object.values($machineStore.todoServices).forEach((machine) => {
      machine.send('CONFIRM')
    })
  }

  onMount(() => {
    (async function() {
      await initDB()
    })()
  })

</script>

<style>
  .u-min-h2-height {
    min-height: 2.5rem;
  }
</style>

<Transition>
<div
  class="mx-auto w-full container text-light pt-4 px-4 pb-12 mt-4 lg:mt-12 lg:flex lg:justify-between">
  <div
    data-testid="overlay"
    class="{overlayActive ? 'block' : 'hidden'} h-full z-40 w-full fixed top-0
    left-0" />
  <div class="flex-1 lg:pr-8">
    <div class="flex mb-8">
      <h2 class="flex-1 text-4xl font-bold mr-5 leading-none">Список дел</h2>
      {#if !deletionMode}
        <button
          data-testid="delete-button"
          on:click={setTodoDeletion}
          class="h-10 w-10 rounded-lg bg-transparent flex items-center
          justify-center hover:bg-secondary-a20">
          <svg
            class="fill-current text-light"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24">
            <path
              d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19
              4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </button>
      {:else if deletionMode}
        <button
          data-testid="confirm-deletion-button"
          on:click={confirmDeletion}
          class="h-10 w-10 rounded-lg bg-transparent flex items-center
          justify-center hover:bg-secondary-a20">
          <svg
            class="fill-current text-light"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" />
          </svg>
        </button>
        <button
          on:click={cancelDeletionMode}
          class="h-10 w-10 rounded-lg bg-transparent flex items-center
          justify-center hover:bg-secondary-a20">
          <svg
            class="fill-current text-light"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24">
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41
              19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </button>
      {/if}
    </div>
    {#if $todosStore.tasklist}
      <TodoList type="task" todolist={$todosStore.tasklist} />
    {/if}
  </div>
  <div class="flex-1 mt-20 lg:mt-0">
    <div class="mb-8">
      <h2 class="flex-1 text-4xl font-bold mr-5 leading-none u-min-h2-height">
        Список активностей
      </h2>
    </div>
    {#if $todosStore.activitylist}
      <TodoList type="activity" todolist={$todosStore.activitylist} />
    {/if}
  </div>
</div>
</Transition>
